<md-list *ngIf="cart && cart.length > 0; else elseBlock">
  <md-list-item *ngFor="let item of cart">
    <img md-list-avatar [src]="item.Product.thumbNail" alt="...">
    <h3 md-line> {{item.Product.name}} </h3>
    <p md-line>
      <span> {{item.Product.description}} </span>
    </p>
    <div md-line>
      <span>${{item.Product.price}}</span>
      <span>Qty: {{item.Qty}}</span>
    </div>
  </md-list-item>
</md-list>
<ng-template #elseBlock>
  <md-list>
    <md-list-item>
      <h3 md-line>No Item In Cart</h3>
    </md-list-item>
  </md-list>
</ng-template>
